* {
  font-family: "Copperplate";
}

body {
  background-color: #255364;
}

.opponents {
  margin-top: 10px;
  display: flex;
}

.opponent {
  flex: 1;
}

.rotateleft {
  transform: rotate(-30deg) translate(-60px, 80px);
}

.rotateright {
  transform: rotate(30deg) translate(60px, 80px);
}

.opdeckimg {
  height: 78px;
  width: 50px;
  margin: 0 10px;
  float: right;
}


.opcardimg {
  height: 72px;
  width: 50px;
  margin: 0 5px;
}


.piles {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hands {
  // debug
  //border: 3px solid green;

  display: flex;
  margin: auto;
}

.centercard {
  display: flex;
  flex-direction: column;
}

.cardlayout {
  display: flex;
  margin-bottom: 10px;
}

.mainDeck {
  // border: 2px solid yellow;
  flex: 1;
}

.deckimg {
  width: 100px;
  height: 157px;
  margin: 0 40px;
  float: right;
}

.card {
  // border: 1px solid blue;

  // put button under card
  flex-direction: column;
}

.cardimg {
  width: 100px;
  height: 144px;
  margin: 0px 20px 20px 20px;
}

.cardButton {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 1px solid #979797;
  border-radius: 8px;

  color: #EDF2F3;

  // center text
  text-align: center;
  vertical-align: middle;
  line-height: 50px;


  // button font size
  font-size: 30px;
}
.cardButton-selected {
  background-color: #000066;
}

.mainLB {
  flex: 1;
}


table {
  width: 220px;
  margin: 0 40px;
}

td {
  padding: 5px;
  font-size: 20px;
  color: #D8D8D8;
}
