$primary-font: 'SignPainter';
$secondary-font: 'Copperplate';
$background-color: #255364;
$card-color: #E5E6DA;

// Animation Variables
$deck-left: 20px;

$hand1-left: 180px;
$hand2-left: 320px;
$hand3-left: 460px;
$hand4-left: 600px;

$hand-bottom: 50px;

$pile1-left: 257px;
$pile2-left: 397px;
$pile3-left: 397px;
$pile4-left: 537px;

$pile1-bottom: 327px;
$pile2-bottom: 409px;
$pile3-bottom: 245px;
$pile4-bottom: 327px;


@font-face {
  font-family: 'Copperplate';
  src: url('fonts/Copperplate.eot');
  src: url('fonts/Copperplate.woff2') format('woff2'),
  url('fonts/Copperplate.woff') format('woff'),
  url('fonts/Copperplate.ttf') format('truetype'),
  url('fonts/Copperplate.svg#Copperplate') format('svg'),
  url('fonts/Copperplate.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SignPainter';
  src: url('fonts/SignPainter-HouseScript.eot');
  src: url('fonts/SignPainter-HouseScript.woff2') format('woff2'),
  url('fonts/SignPainter-HouseScript.woff') format('woff'),
  url('fonts/SignPainter-HouseScript.ttf') format('truetype'),
  url('fonts/SignPainter-HouseScript.svg#SignPainter-HouseScript') format('svg'),
  url('fonts/SignPainter-HouseScript.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



* {
  font-family: "Copperplate";
  color: $card-color;

}

body {
  background-color: $background-color;
}

h1 {
  font-family: 'SignPainter';
  color: #F43C3A;
  font-size: 55px;
  text-align: center;
}


// --- Game Page --- //

.opponents {
  margin-top: 10px;
  display: flex;
}

.opponent {
  flex: 1;
}

.rotateleft {
  transform: rotate(-30deg) translate(-60px, 80px);
}

.rotateright {
  transform: rotate(30deg) translate(60px, 80px);
}

.opdeckimg {
  height: 78px;
  width: 50px;
  margin: 0 10px;
  float: right;
}


.opcardimg {
  height: 72px;
  width: 50px;
  margin: 0 5px;
}


.piles {
  height: 390px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hands {
  // debug
  //border: 3px solid green;

  display: flex;
  margin: auto;
}

.centercard {
  display: flex;
  flex-direction: column;
}

.cardlayout {
  display: flex;
  margin-bottom: 10px;
}

.mainDeck {
  // border: 2px solid yellow;
  flex: 1;
}

.deckimg {
  width: 100px;
  height: 157px;
  margin: 0 40px;
  float: right;
}

.card {
  // put button under card
  flex-direction: column;
}

.cardimg {
  width: 100px;
  height: 144px;
  margin: 0px 20px 20px 20px;
}

.cardimg:hover {
  border: 1px solid rebeccapurple;
}

.cardButton {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 1px solid #979797;
  border-radius: 8px;

  font-size: 30px;
  color: #EDF2F3;

  // center text
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.cardButton-selected {
  background-color: #000066;
}

.mainLB {
  flex: 1;
}


table.gameLeaderboard {
  width: 220px;
  margin: 0 40px;
}

table.gameLeaderboard > tr > td {
  padding: 5px;
  font-size: 20px;
  color: #D8D8D8;
}
// ---- Landing Page  -------//

.landingContain {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoIMG {
  align-items: center;
  width: 60%;
  margin-bottom: 40px;
  order: -1;
  justify-content: center
}


.usernameInput {
  display: flex;
  background: transparent;
  border: 2px solid;
  border-color: grey;
  color: grey;
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 20pt;
  order: 1;
  padding: .75em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;

}

.playNowBttn {
  background: transparent;
  border: 2px solid;
  border-color: grey;
  color: white;
  font-size: 20pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 55px;
  padding-right: 55px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  order: 2;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.newLobbyBttn {
  display: flex;
  background: transparent;
  border: 2px solid;
  border-color: grey;
  color: white;
  padding: 1em;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  order: 3;
  margin: 10px;
  font-size: 20pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 46px;
  padding-right: 46px;
  align-items: center;
  justify-content: center;

}

.leaderboardBttn {
  display: flex;
  background: transparent;
  border: 2px solid;
  border-color: grey;
  color: white;
  padding: 1em;
  order: 4;
  font-size: 20pt;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin:10px;
  align-items: center;
  justify-content: center;

}

.newLobbyBttn:hover, .playNowBttn:hover, .leaderboardBttn:hover, .usernameInput:hover{
  background: #204859
}


// --- Leaderboard Page --- //

.leftBanner {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: auto;
}

.rightBanner {
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: auto;
}

.flex-leaderboard {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

table.leaderboard > td,
table.leaderboard > tr,
table.leaderboard > tr > td,
table.leaderboard > tr > th {
  font-size: 28px;
  text-align: left;
  padding: 7px 30px 7px 25px;
  color: $card-color;
}

.flex-vertical {
  flex-direction: column;
}



// --- Lobby --- //

.readyUp {
  font-size: 30px;
  text-align: center;
  width: 100%;
  font-weight: normal;
}

table.lobby > th,
table.lobby > tr > td,
table.lobby > tr > th {
  padding: 3px 110px;
  color: $card-color;
  font-size: 28px;
  text-align: left;
}


// --- Card Animations --- //

// Classes
.hidden {
  visibility: hidden;
}

.animatingCard {
  position: absolute;
}

// Hands
.Ah1p1, .Ah1p2, .Ah1p1, .Ah1p4,
.Ah2p1, .Ah2p2, .Ah2p3, .Ah2p4,
.Ah3p1, .Ah3p2, .Ah3p3, .Ah3p4,
.Ah4p1, .Ah4p2, .Ah4p3, .Ah4p4
{
  position: absolute;
  bottom: $hand-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.Ah1p1, .Ah1p2, .Ah1p1, .Ah1p4 {
  left: $hand1-left;
}

.Ah2p1, .Ah2p2, .Ah2p1, .Ah2p4 {
  left: $hand2-left;
}

.Ah3p1, .Ah3p2, .Ah3p1, .Ah3p4 {
  left: $hand3-left;
}

.Ah4p1, .Ah4p2, .Ah4p1, .Ah4p4 {
  left: $hand4-left;
}


// Hand 1
.Ah1p1 {
  animation-name: h1p1;
}

.Ah1p2 {
  animation-name: h1p2;
}

.Ah1p3 {
  animation-name: h1p3;
}

.Ah1p4 {
  animation-name: h1p4;
}

// Hand 2
.Ah2p1 {
  animation-name: h2p1;
}

.Ah2p2 {
  animation-name: h2p2;
}

.Ah2p3 {
  animation-name: h2p3;
}

.Ah2p4 {
  animation-name: h2p4;
}

// Hand 3
.Ah3p1 {
  animation-name: h3p1;
}

.Ah3p2 {
  animation-name: h3p2;
}

.Ah3p3 {
  animation-name: h3p3;
}

.Ah3p4 {
  animation-name: h3p4;
}

// Hand 4
.Ah4p1 {
  animation-name: h4p1;
}

.Ah4p2 {
  animation-name: h4p2;
}

.Ah4p3 {
  animation-name: h4p3;
}

.Ah4p4 {
  animation-name: h4p4;
}

// Deck
.Adh1, .Adh2, .Adh3, .Adh4 {
  position: absolute;
  bottom: $hand-bottom;
  left: $deck-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.Adh1 {
  animation-name: dh1;
}

.Adh2 {
  animation-name: dh2;
}

.Adh3 {
  animation-name: dh3;
}

.Adh4 {
  animation-name: dh4;
}



// Deck
@keyframes dh1 {
  0%   { bottom: $hand-bottom; left: $deck-left; }
  100% { bottom: $hand-bottom; left: $hand1-left; }
}

@keyframes dh2 {
  0%   { bottom: $hand-bottom; left: $deck-left; }
  100% { bottom: $hand-bottom; left: $hand2-left; }
}

@keyframes dh3 {
  0%   { bottom: $hand-bottom; left: $deck-left; }
  100% { bottom: $hand-bottom; left: $hand3-left; }
}

@keyframes dh4 {
  0%   { bottom: $hand-bottom; left: $deck-left; }
  100% { bottom: $hand-bottom; left: $hand4-left; }
}

// Hand 1
@keyframes h1p1 {
  0%   { bottom: $hand-bottom; left: $hand1-left;}
  100% { bottom: $pile1-bottom; left: $pile1-left;}
}

@keyframes h1p2 {
  0%   { bottom: $hand-bottom; left: $hand1-left;}
  100% { bottom: $pile2-bottom; left: $pile2-left;}
}

@keyframes h1p3 {
  0%   { bottom: $hand-bottom; left: $hand1-left;}
  100% { bottom: $pile3-bottom; left: $pile3-left;}
}

@keyframes h1p4 {
  0%   { bottom: $hand-bottom; left: $hand1-left;}
  100% { bottom: $pile4-bottom; left: $pile4-left;}
}

// Hand 2
@keyframes h2p1 {
  0%   { bottom: $hand-bottom; left: $hand2-left;}
  100% { bottom: $pile1-bottom; left: $pile1-left;}
}

@keyframes h2p2 {
  0%   { bottom: $hand-bottom; left: $hand2-left;}
  100% { bottom: $pile2-bottom; left: $pile2-left;}
}

@keyframes h2p3 {
  0%   { bottom: $hand-bottom; left: $hand2-left;}
  100% { bottom: $pile3-bottom; left: $pile3-left;}
}

@keyframes h2p4 {
  0%   { bottom: $hand-bottom; left: $hand2-left;}
  100% { bottom: $pile4-bottom; left: $pile4-left;}
}

// Hand 3
@keyframes h3p1 {
  0%   { bottom: $hand-bottom; left: $hand3-left;}
  100% { bottom: $pile1-bottom; left: $pile1-left;}
}

@keyframes h3p2 {
  0%   { bottom: $hand-bottom; left: $hand3-left;}
  100% { bottom: $pile2-bottom; left: $pile2-left;}
}

@keyframes h3p3 {
  0%   { bottom: $hand-bottom; left: $hand3-left;}
  100% { bottom: $pile3-bottom; left: $pile3-left;}
}

@keyframes h3p4 {
  0%   { bottom: $hand-bottom; left: $hand3-left;}
  100% { bottom: $pile4-bottom; left: $pile4-left;}
}

// Hand 4
@keyframes h4p1 {
  0%   { bottom: $hand-bottom; left: $hand4-left;}
  100% { bottom: $pile1-bottom; left: $pile1-left;}
}

@keyframes h4p2 {
  0%   { bottom: $hand-bottom; left: $hand4-left;}
  100% { bottom: $pile2-bottom; left: $pile2-left;}
}

@keyframes h4p3 {
  0%   { bottom: $hand-bottom; left: $hand4-left;}
  100% { bottom: $pile3-bottom; left: $pile3-left;}
}

@keyframes h4p4 {
  0%   { bottom: $hand-bottom; left: $hand4-left;}
  100% { bottom: $pile4-bottom; left: $pile4-left;}
}

