* {
  font-family: "Copperplate";
}

body {
  background-color: #255364;
}

h1 {
  font-family: 'SignPainter';
  color: #F43C3A;
  font-size: 55px;
  text-align: center;
}


// --- Game Page --- //

.opponents {
  margin-top: 10px;
  display: flex;
}

.opponent {
  flex: 1;
}

.rotateleft {
  transform: rotate(-30deg) translate(-60px, 80px);
}

.rotateright {
  transform: rotate(30deg) translate(60px, 80px);
}

.opdeckimg {
  height: 78px;
  width: 50px;
  margin: 0 10px;
  float: right;
}


.opcardimg {
  height: 72px;
  width: 50px;
  margin: 0 5px;
}


.piles {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hands {
  // debug
  //border: 3px solid green;

  display: flex;
  margin: auto;
}

.centercard {
  display: flex;
  flex-direction: column;
}

.cardlayout {
  display: flex;
  margin-bottom: 10px;
}

.mainDeck {
  // border: 2px solid yellow;
  flex: 1;
}

.deckimg {
  width: 100px;
  height: 157px;
  margin: 0 40px;
  float: right;
}

.card {
  // put button under card
  flex-direction: column;
}

.cardimg {
  width: 100px;
  height: 144px;
  margin: 0px 20px 20px 20px;
}

.cardButton {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 1px solid #979797;
  border-radius: 8px;

  font-size: 30px;
  color: #EDF2F3;

  // center text
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.cardButton-selected {
  background-color: #000066;
}

.mainLB {
  flex: 1;
}


table.gameLeaderboard {
  width: 220px;
  margin: 0 40px;
}

table.gameLeaderboard > tr > td {
  padding: 5px;
  font-size: 20px;
  color: #D8D8D8;
}


// --- Leaderboard Page --- //

.leftBanner {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: auto;
}

.rightBanner {
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: auto;
}

.flex-leaderboard {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

table.leaderboard > td,
table.leaderboard > tr,
table.leaderboard > tr > td,
table.leaderboard > tr > th {
  font-size: 28px;
  text-align: left;
  padding: 7px 30px 7px 25px;
  color: #E5E6DA;
}

.flex-vertical {
  flex-direction: column;
}
